#[Title]#
%asset-issue.title%

#[Severity]#
%asset-issue.severity%

#[Categories]#
Category: %asset-issue.category%

#[CVSSv3.BaseScore]#
%asset-issue.cvss3_base%

#[CVSSv3.TemporalScore]#
%asset-issue.cvss3_temporal%

#[Threat]#
%asset-issue.threat%

%asset-issue.impact%

#[Solution]#
%asset-issue.solution%
