#[Title]#
%element.title%

#[CVSSv3.BaseScore]#
%element.cvss_base%

#[CVSSv3.Vector]#
Temporal score: %element.cvss_temporal%

#[Type]#
External

#[Description]#
%element.diagnosis%
%element.consequence%

#[Solution]#
%element.solution%

#[References]#
%element.vendor_reference_list%
