#[Title]#
%was-issue.title%

#[Severity]#
%was-issue.severity%

#[Categories]#
Category: %was-issue.category%
Group: %was-issue.group%
OWASP: %was-issue.owasp%
CWE: %was-issue.cwe%

#[CVSSv3.Vector]#
%was-issue.cvss3_vector%

#[CVSSv3.BaseScore]#
%was-issue.cvss3_base%

#[CVSSv3.TemporalScore]#
%was-issue.cvss3_temporal%

#[Description]#
%was-issue.description%

%was-issue.impact%

#[Solution]#
%was-issue.solution%
