#[Location]#
%was-evidence.url%

#[Output]#
*Request*

Method: %was-evidence.request_method%
URL: %was-evidence.request_url%

bc.. %was-evidence.request_headers%

p. *Response*

Evidence: %was-evidence.response_evidence%

bc.. %was-evidence.response_contents%
